.input-group {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-control {
  border: none;
}

.btn-outline-secondary {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
